
#click_button {
  border: 3px solid #99988f;
  border-radius: 3px;
  display: block;
  background: linear-gradient(to right, #e0dfd8 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  
  height: 100px;
  width: 200px;
}

#click_button:hover {
  background-position: left bottom;
}
