

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}


* {
   font-family: Libre Baskerville;
   color: #1e1e1e;
} 

body {
    margin: 0;
    background-color: #f9f6ee;
    background-image: url(../img/body_skill_card.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: #f9f6ee;
    border-right: 3px solid #bbb9af;
    background-image: url(../img/body_skill_card.png);
}

li a {
    display: block;
    padding: 50px 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    color: #727272;
}


.navigation_bar a {
    font-size: 16px;
    line-height: 1.2;
    height: auto;
    text-decoration: none;
    color: #1e1e1e;
}

.skills_section {
    margin-left:13%;
    padding:1px 16px;
    text-align: center;
}

.skill_card {
    background-color: #e3dac9;
    background-image: url(../img/skill_card.png);

    box-shadow:0 4px 10px #72695c;
    border-radius:10px;
    transform: scale(1);
    padding: 15px;
    width: 27%;


    font-size: 19px;
    text-shadow: 1px 1px 80px #1e1e1e;
    transition: all 0.5s;
}

.skill_card:hover {
    background-color: #e3dac9;
    transform: scale(1.1);
    box-shadow:0 4px 10px #72695c;
    transition: all 0.7s ;
}


.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}

p {
    font-size: 0.8em;
}
