

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}


* {
   font-family: Libre Baskerville;
   color: #ffad0a;
} 

body {
    margin: 0;
    background-color: #faebd7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: #faebd7;
    border-right: 3px solid #e3d7c5;
}

li a {
    display: block;
    color: #4f5337;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    color: white;
    padding: 100px;
}


.skills_section {
    margin-left:13%;
    padding:1px 16px;
    text-align: center;
}

.skill_card {
    background-color: #e3ceb1;
    box-shadow:0 4px 10px #72695c;
    border-radius:10px;
    transform: scale(1);
    padding: 15px;
    width: 27%;


    font-size: 19px;
    text-shadow: 
        1px 1px 0.05px rgba(21, 21, 21, 0.5), -1px -1px 1px rgba(212, 166, 81, 0.8);

    transition: all 0.5s;
}

.skill_card:hover {
    background-color: #e3ceb1;
    transform: scale(1.1);
    box-shadow:0 4px 10px #72695c;
    transition: all 0.7s ;
}


.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}

p {
    font-size: 0.8em;
}


